.custom-dialog-container .mat-dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.custom-dialog-container {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
